<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OTT Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 text-center py-10">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
      Welcome to OTT Login Page
    </h1>
    <p class="text-gray-600 mb-6">
      Here we are going to implement one-time token login page
    </p>

    <div class="space-x-4">
      <a data-th-href="${'/login'}">
        <button
          class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800 transition"
        >
          Login
        </button>
      </a>
      <a href="/dashboard">
        <button
          class="bg-green-700 text-white px-4 py-2 rounded hover:bg-green-800 transition"
        >
          Dashboard
        </button>
      </a>
    </div>
  </body>
</html>
